<!DOCTYPE html>
<!-- FindMatches.cshtml
Created by: Brandon Bowers
Purpose: This page is intended to be a page where users can match or skip others on the dating site.
-->


<!-- References for Icons -->
<html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
<link rel="stylesheet" type="text/css" href="../css/style.css" />

<!-- Header -->
<head>
<title> Last Hope Dating </title>
 <meta charset="utf-8">
  </head>
   <div class="header">
    <h1> <a href="@Url.Action("FindMatches", "Home")" class="logo"><img src="~/images/logo.png" alt="Last Hope Dating" /></a></h1>     
  </div>

<!-- Body -->

<body> 


	
<!-- Navigation Bar -->
<nav>
  <div class="sidenav">
      <a href="@Url.Action("FindMatches", "Home")">Home </a>
      <a href="@Url.Action("Profile", "Home")">My Account</a>
      <a href="@Url.Action("Matched", "Home")">Matches</a>
      <a href="#">Help</a>
      <a href="@Url.Action("Index", "Home")">Logout</a>
  </div>
</nav>

<div class="mySlides">
<div class="container">
	<label class="textOverImage" style="background-image:url(../images/hank.jpeg)"</label>
    <input type="checkbox" />
    <h2>Hank Smith</h2>
    <div> <br/> <strong>Bristol, TN</strong><br/><strong>Age:</strong> 87<br/><strong>Retired</strong><br/>Looking to find me a gal to spend the rest of my life with.</div>
</div>
</div>

<div class="mySlides">
<div class="container">
	<label class="textOverImage" style="background-image:url(../images/brenda.jpg)"</label>
    <input type="checkbox" />
    <h2>Brenda Key</h2>
    <div> <br/> <strong>Johnson City, TN</strong><br/><strong>Age:</strong> 67<br/><strong>Retired</strong><br/>Looking for a nice man to love my grandchildren.</div>
</div>
</div>

<div class="mySlides">
<div class="container">
	<label class="textOverImage" style="background-image:url(../images/bluelynn.jpg)"</label>
    <input type="checkbox" />
    <h2>Bluelynn Ray</h2>
    <div> <br/> <strong>Kingsport, TN</strong><br/><strong>Age:</strong> 63<br/><strong>Retired</strong><br/>Looking for the love of my life.</div>
</div>
</div>


<div class="button-container-div">
	<a href="@Url.Action("Matched", "Home")" class="likereact w3-button w3-xl-large w3-circle w3-xlarge w3-ripple w3-teal" style="z-index:0"><i class="fa fa-heart fa-2x"></i></a>
	<a class="dislikereact w3-button w3-xl-large w3-circle w3-xlarge w3-ripple w3-red" style="z-index:0"><i  class="fa fa-x fa-2x" onclick="plusSlides(1)"></i></a>
</div>


<script>
let slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  let dots = document.getElementsByClassName("demo");
  let captionText = document.getElementById("caption");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  captionText.innerHTML = dots[slideIndex-1].alt;
}
</script>


       <!-- Footer -->
<div class="container">
    <div class="footer">
        &copy; 2022 Last Hope Dating</br></br>
        Help Support: Brandon Bowers</br>
        <a href="mailto:BrandonBowersIT@gmail.com">BrandonBowersIT@gmail.com</a></br>
        (423)773-3232
    </div>
</div>


</body>













